body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Remove barras de rolagem */
}

canvas {
    width: 100% !important; /* Ocupar 100% da largura */
    height: 100% !important; /* Ocupar 100% da altura */
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Altura total da tela */
    width: 100vw; /* Largura total da tela */
}

